In [1]:
# Import necessary library

from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
from selenium.webdriver.chrome.options import Options

#specify driver path
#DRIVER_PATH = r'C:\Users\khoip\AppData\Local\Google\Chrome\User Data\Default\chromedriver'
#driver = webdriver.Chrome(executable_path = DRIVER_PATH)
#driver = webdriver.Chrome(ChromeDriverManager().install())

In [2]:
# clarify path and create driver
# launch page to check if it works

options = Options()
options.add_argument("start-maximized")
driver = webdriver.Chrome(chrome_options=options, executable_path=r'C:\Users\khoip\AppData\Local\Google\Chrome\User Data\Default\chromedriver.exe')
driver.get('https://uk.indeed.com/jobs?q=data+scientist&l=London,+Greater+London&start=0')
print("Page Title is : %s" %driver.title)

<ipython-input-2-6a112e6e1836>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(chrome_options=options, executable_path=r'C:\Users\khoip\AppData\Local\Google\Chrome\User Data\Default\chromedriver.exe')
<ipython-input-2-6a112e6e1836>:6: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(chrome_options=options, executable_path=r'C:\Users\khoip\AppData\Local\Google\Chrome\User Data\Default\chromedriver.exe')

Page Title is : Data Scientist Jobs in London - 2021 | Indeed.com

In [43]:
#let the driver wait 3 seconds to locate the element before exiting out
driver.implicitly_wait(3) 

titles=[]
companies=[]
locations=[]
salaries = []
descriptions=[]

job_list=[]

for i in range(0,2):
    job_card = driver.find_elements_by_xpath('//div[contains(@class,"job_seen_beacon")]')

    for job in job_card:          
        
        try: #.  Title 
            title  = job.find_element_by_tag_name('span').text
            if title=='new':
                title.replace('new','')
        except:
            title = "None"
        titles.append(title)
                      
        try: #.  Location
            location = job.find_element_by_xpath('.//div[contains(@class,"companyLocation")]').text
        except:
            location = "None"
        #.  tells only to look at the element       
        locations.append(location)

        try: #salary 
            salary= job.find_element_by_xpath('.//div[@class="salary-snippet"]').text
        except:
            salary = "Negotiable"
        salaries.append(salary)

        try: #description
            description = job.find_element_by_tag_name('li').text
        except:
            description = "None"
        #.  tells only to look at the element   
        descriptions.append(description)
        
    companies.append(job.find_element_by_xpath('.//span[@class="companyName"]').text) #.  Company name
    job={'titles':title,
         'companies':company,
         'locations':location,
         'salaries':salary,
         'descriptions':description
        }
    job_list.append(job)

<ipython-input-43-7b1c7e16f818>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  job_card = driver.find_elements_by_xpath('//div[contains(@class,"job_seen_beacon")]')

In [34]:
job_list

[{'titles': 'Data Scientist, Personal Banking',
  'companies': 'Monzo',
  'locations': 'London\n•\nRemote',
  'salaries': 'Negotiable',
  'descriptions': '90% of day-to-day data-driven decisions are covered by self-serve analytics through Looker which gives data scientists the head space to focus on more impactful…'},
 {'titles': 'Data Scientist, Personal Banking',
  'companies': 'Monzo',
  'locations': 'London\n•\nRemote',
  'salaries': 'Negotiable',
  'descriptions': '90% of day-to-day data-driven decisions are covered by self-serve analytics through Looker which gives data scientists the head space to focus on more impactful…'}]

In [35]:
import pandas as pd
df=pd.DataFrame(job_list)

In [36]:
df

,titles,companies,locations,salaries,descriptions
0,"Data Scientist, Personal Banking",Monzo,London\n•\nRemote,Negotiable,90% of day-to-day data-driven decisions are co...
1,"Data Scientist, Personal Banking",Monzo,London\n•\nRemote,Negotiable,90% of day-to-day data-driven decisions are co...

In [32]:
titles

['new',
 'new',
 'Data & Analytics - Internship',
 'Research Data Scientist, Intern',
 'Multiple Data Scientist/Senior Analyst roles (SQL or Tableau...',
 'Python Data Scientist (WFH 3 days a week)',
 'Data Scientist, Analytics Intern',
 'new',
 'new',
 'new',
 'new',
 'new',
 'Machine Learning Engineer Graduate (Recommendation) - 2022 S...',
 'Data Scientist',
 'Data Scientist, Personal Banking',
 'new',
 'new',
 'Data & Analytics - Internship',
 'Research Data Scientist, Intern',
 'Multiple Data Scientist/Senior Analyst roles (SQL or Tableau...',
 'Python Data Scientist (WFH 3 days a week)',
 'Data Scientist, Analytics Intern',
 'new',
 'new',
 'new',
 'new',
 'new',
 'Machine Learning Engineer Graduate (Recommendation) - 2022 S...',
 'Data Scientist',
 'Data Scientist, Personal Banking']

In [14]:
salaries

['Negotiable',
 'From £55,000 a year',
 '£21,500 a year',
 'Negotiable',
 '£45,900 - £59,400 a year',
 'Negotiable',
 'Negotiable',
 '£54,223 - £60,316 a year',
 '£45,900 - £55,000 a year',
 'Negotiable',
 '£35,000 - £45,000 a year',
 'Negotiable',
 'Negotiable',
 'Negotiable',
 'Negotiable']

In [44]:
companies

['Monzo', 'Monzo']